{% extends 'base.html' %}
{% block title %}区域专利分布{% endblock %}
{% block styles %}
    <style>
        #download_group{
            display: none;
            position: fixed;
            z-index: 999;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% for ancestor in ancestors %}
                    {% if loop.index0 == depth %}
                        <li class="breadcrumb-item active" aria-current="page">{{ ancestor }}</li>
                    {% else %}
                        <li class="breadcrumb-item">
                        <a href="{{ url_for('main.show_bar', depth=loop.index0) }}">{{ ancestor }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ol>
        </nav>
        <div class="row">
            <div class="col-12">
                <div style="width:100%;height: 600px;" id="main"></div>
            </div>
        </div>

        <button class="btn btn-toolbar" id="download_group" data-value="">导出分组结果</button>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/echarts@4.6.0/dist/echarts.min.js"></script>
    <script src="{{ url_for('static', filename='js/main/show_bar.js') }}"></script>
    <script>
        let COUNTER = {{ counter | safe }};
        setOption(COUNTER);

        document.oncontextmenu = function (event) {
            event.preventDefault();
        }

        myChart.on("contextMenu", function (params) {
            {#console.log(params);#}
            let event = params.event;
            let x = event.offsetX + 20 + "px";
            let y = event.offsetY + "px";
            let ipc = params.name;
            $("#download_group").data("value", ipc).css({"left":x, "top":y}).show();
        })

        myChart.on('click', hideMenu);
        function hideMenu(param) {
            let menu = document.getElementById("download_group");
            menu.style.display = "none";
        }

        $("#download_group").on("click", function (e) {
            let $target = $(e.target);
            let ipc = $target.data("value");
            $target.hide();
            download_group_data(ipc);
        });

        function download_group_data(ipc) {

            {#let form = document.createElement('form');#}
            {#form.id = 'form';#}
            {#form.name = 'form';#}
            {#form.enctype = 'application/x-www-form-urlencoded';#}
            {#document.body.appendChild (form);#}
            {#//请求方式POST提交时 默认Content-Type就是application/x-www-form-urlencoded#}
            {#form.method = "GET";#}
            {#form.action = "/engineer/get_engineer/" + ipc;#}
            {#form.submit();#}
            {#document.body.removeChild(form);#}
            window.location.href = "/engineer/get_engineer/" + ipc;
        }
    </script>

{% endblock %}

