{% extends 'base.html' %}

{% block styles %}
    <style>
    </style>
{% endblock %}
{% block title %}管理服务商{% endblock %}
{% block main %}
    <div class="container">
        <div class="row-cols-md-2"></div>
        <div class="row">
            <div class="col-12 col-xl-8">
                <div class="card">
                    <div class="card-header">
                        <h4>现有服务商信息</h4>
                    </div>
                    <div class="card-body remove-padding">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">服务商</th>
                                <th scope="col">负责人</th>
                                <th scope="col">联系方式</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for provider in providers %}
                            <tr>
                                <td>{{ provider.service_provider_name }}</td>
                                <td>{{ provider.charger_name }}</td>
                                <td>{{ provider.tel }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-4">
                <div class="card">
                    <div class="card-header">
                        <h4>
                            添加服务商
                        </h4>
                    </div>
                    <div class="card-body" >
                        <form method="post" style="left: 5px">
                            {{ form.csrf_token }}
                            <div class="form-group">
                                {{ form.company.label }}
                                {{ form.company(class='form-control') }}
                            </div>
                            <div class="form-group">
                                {{ form.charger.label }}
                                {{ form.charger(class='form-control') }}
                            </div>
                            <div class="form-group">
                                {{ form.charger_tel.label }}
                                {{ form.charger_tel(class='form-control') }}
                            </div>
                            {{ form.submit(class='btn btn-primary btn-block') }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/dropzone.min.js') }}"></script>
<script type="text/javascript">
</script>
{% endblock %}

