{% extends 'base.html' %}
{% block title %}昆山开发区科技局信息系统-知识产权{% endblock %}

{% block main %}
 <!-- MAIN CONTENT -->
    <div class="main-content">
        <!-- HEADER -->
        <div class="header">
            <div class="container-fluid">
                <!-- Body -->
                <div class="header-body">
                    <div class="row align-items-end">
                        <div class="col">

                            <!-- Pretitle -->
                            <h6 class="header-pretitle">年度计划</h6>

                            <!-- Title -->
                            <h1 class="header-title">知识产权</h1>

                        </div>
                        <div class="col-auto">

                            <!-- Button -->
{#                            <a href="#!" class="btn btn-primary lift"><span class="fe fe-download"></span>导出报告</a>#}

                        </div>
                    </div> <!-- / .row -->
                </div> <!-- / .header-body -->

            </div>
        </div> <!-- / .header -->

        <!-- CARDS -->
        <div class="container-fluid">
            <div id="Annual-Plan" class="row">
                <div class="col-12 col-lg-6 col-xl">

                    <!-- Value  -->
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col">

                                    <!-- Title -->
                                    <h6 class="text-uppercase text-muted mb-2">
                                        发明专利
                                    </h6>

                                    <!-- Heading -->
                                    <span class="h2 mb-0" id="count_of_patent">
                                        24500
                                    </span>

                                    <!-- Badge -->
                                    <!-- <span class="badge badge-soft-success mt-n1">
                                      +3.5%
                                    </span> -->
                                </div>
                                <div class="col-auto">
                                    <span class="h2 fe fe-trending-up text-muted mb-0"></span>

                                </div>
                            </div> <!-- / .row -->
                        </div>
                    </div>

                </div>
                <div class="col-12 col-lg-6 col-xl">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col">

                                    <!-- Title -->
                                    <h6 class="text-uppercase text-muted mb-2">
                                        实用新型
                                    </h6>

                                    <!-- Heading -->
                                    <span class="h2 mb-0" id="count_of_utility_model_patent">
                                        7635
                                    </span>

                                </div>
                                <div class="col-auto">

                                    <!-- Icon -->
                                    <span class="h2 fe fe-key text-muted mb-0"></span>

                                </div>
                            </div> <!-- / .row -->
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col">

                                    <!-- Title -->
                                    <h6 class="text-uppercase text-muted mb-2">
                                        外观设计
                                    </h6>

                                    <!-- Heading -->
                                    <span class="h2 mb-0" id="count_of_design_patent">
                                        3555
                                    </span>

                                </div>
                                <div class="col-auto">
                                    <span class="h2 fe fe-layout text-muted mb-0"></span>
                                </div>
                            </div> <!-- / .row -->
                        </div>
                    </div>

                </div>
                <div class="col-12 col-lg-6 col-xl">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h6 class="text-uppercase text-muted mb-2">
                                        其他
                                    </h6>

                                    <!-- Heading -->
                                    <span class="h2 mb-0" id="count_of_other_patent">
                                        29937
                                    </span>

                                </div>
                                <div class="col-auto">
                                    <!-- Icon -->
                                    <span class="h2 fe fe-slack text-muted mb-0"></span>

                                </div>
                            </div> <!-- / .row -->
                        </div>
                    </div>

                </div>
            </div> <!-- / .row -->

            <div  class="row">
                <div class="col-12 col-xl-8">

                    <!-- Convertions -->
                    <div class="card">
                        <div class="card-header">

                            <!-- Title -->
                            <h4 class="card-header-title">
                                历年增长
                            </h4>
                            <!-- Caption -->
			                <span class="text-muted mr-3 hover-black cursor-pointer" id="edit-year-goal">
			                   <i class="fe fe-edit"></i>编辑今年目标
			                </span>
                        </div>
                        <div class="card-body remove-padding">

                            <!-- Chart -->
                            <div class="chart">
                                <div id="conversionsChart" class="chart-canvas"></div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-4">

                   
                    <div class="card">
                        <div class="card-header">

                            <!-- Title -->
                            <h4 class="card-header-title">
                                专利分布
                            </h4>
                             <!-- Tabs -->
                            <ul class="nav nav-tabs nav-tabs-sm card-header-tabs" id="patent_distribution_pie">
                              <li class="nav-item" data-toggle="chart" data-target="#patentDistributionChart" data-trigger="click" data-action="toggle" data-dataset="0">
                                <a href="#" data-depth=0 class="nav-link active" data-toggle="tab">
                                  部
                                </a>
                              </li>
                              <li class="nav-item" data-toggle="chart" data-target="#patentDistributionChart" data-trigger="click" data-action="toggle" data-dataset="1">
                                <a href="#" data-depth=1 class="nav-link" data-toggle="tab">
                                  大类
                                </a>
                              </li>
                                <li class="nav-item" data-toggle="chart" data-target="#patentDistributionChart" data-trigger="click" data-action="toggle" data-dataset="1">
                                <a href="#" data-depth=2 class="nav-link" data-toggle="tab">
                                  小类
                                </a>
                              </li>
                            </ul>
                        </div>
                        <div class="card-body remove-padding">

                            <!-- Chart -->
                            <div class="chart">
                                <div id="patentDistributionChart" class="chart-canvas" data-toggle="legend" data-target="#trafficChartLegend"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div id="Monthly-Comparison" class="row">
		        <div class="col-12 col-xl-4">


		            <div class="card">
		              <div class="card-header">
		                <!-- Title -->
		                <h4 class="card-header-title">
		                  完成情况
		                </h4>
		              </div>
		              <div class="card-body remove-padding">

		                <!-- Chart -->
		                <div class="chart">
		                  <div id="completionRateChart" class="chart-canvas" data-toggle="legend"></div>
		                </div>
		              </div>
		            </div>
		        </div>

		        <div class="col-12 col-xl-8">

		            <!-- Convertions -->
		            <div class="card">
		            	<div class="card-header">

			                <!-- Title -->
			                <h4 class="card-header-title">
			                  同时期对比
			                </h4>
                              <!-- Tabs -->
                            <ul class="nav nav-tabs nav-tabs-sm card-header-tabs" id="tab-taskCompareChart">
                              <li class="nav-item" data-toggle="chart" data-target="#taskCompareChart" data-trigger="click" data-action="toggle" data-dataset="0">
                                <a href="#" class="nav-link active" data-toggle="tab">
                                  知识产权总量
                                </a>
                              </li>
                              <li class="nav-item" data-toggle="chart" data-target="#taskCompareChart" data-trigger="click" data-action="toggle" data-dataset="1">
                                <a href="#" class="nav-link" data-toggle="tab">
                                  发明专利
                                </a>
                              </li>
                            </ul>

		              	</div>
						<div class="card-body remove-padding">

			                <!-- Chart -->
			                <div class="chart">
			                  <div id="taskCompareChart" class="chart-canvas"></div>
			                </div>

			            </div>
		            </div>
		        </div>
        	</div>

				<!-- 年度计划表格 -->
            <div id="Daily-Progress" class="row">
                <div class="col-12 col-xl-8">

                    <!-- Goals -->
                    <div class="card">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <!-- Title -->
                                    <h4 class="card-header-title">
                                        执行情况
                                    </h4>
                                </div>
                                <div class="col-auto">

                                    <!-- Button -->
                                    <a href="javascript:void(0);" id="add-task" class="btn btn-sm btn-white">
                                        <span class="fe fe-plus"></span>添加任务
                                    </a>
                                </div>
                            </div> <!-- / .row -->
                        </div>
                        <div class="table-responsive mb-0" data-toggle="lists">
                            <table class="table table-sm table-nowrap card-table" id="execution-progress">
                                <thead>
                                    <tr>
                                        <th>服务商</th>
                                        <th>任务</th>
                                        <th>目标</th>
                                        <th>进度</th>
                                        <th>截至日期</th>
                                        <th>负责人</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody class="list" id="inner_label">
{#                                    <tr>#}
{#                                        <td class="task-server">#}
{#                                            三螺旋大数据科技(昆山)有限公司#}
{#                                        </td>#}
{#                                        <td class="task-name">#}
{#                                            知识产权#}
{#                                        </td>#}
{#                                        <td class="task-goal">#}
{#                                            120#}
{#                                        </td>#}
{#                                        <td class="task-progress">#}
{#                                            55%#}
{#                                        </td>#}
{#                                        <td class="task-date">#}
{#                                            <time datetime="2020-10-24">2020/10/31</time>#}
{#                                        </td>#}
{#                                        <td class="task-principal">某某某</td>#}
{#                                        <td class="text-right">#}
{#                                            <div class="dropdown">#}
{#                                                <a href="#" class="dropdown-ellipses dropdown-toggle" role="button"#}
{#                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                                                    <i class="fe fe-more-vertical"></i>#}
{#                                                </a>#}
{#                                                <div class="dropdown-menu dropdown-menu-right">#}
{#                                                    <a href="#!" class="dropdown-item">#}
{#                                                        查看#}
{#                                                    </a>#}
{#                                                    <a href="#!" class="dropdown-item">#}
{#                                                        修改#}
{#                                                    </a>#}
{#                                                    <a href="#!" class="dropdown-item text-danger">#}
{#                                                        删除#}
{#                                                    </a>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </td>#}
{#                                    </tr>#}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-xl-4">

		            <div class="card">
		              <div class="card-header">
		                <!-- Title -->
		                <h4 class="card-header-title">
		                  服务商对比
		                </h4>
                          <ul class="nav nav-tabs nav-tabs-sm card-header-tabs" id="service_completion_comparison">
                              <li class="nav-item" data-toggle="chart"  data-trigger="click" data-action="toggle" data-dataset="0">
                                  <a href="#" class="nav-link active" data-toggle="tab">
                                      发明专利
                                  </a>
                              </li>
                              <li class="nav-item" data-toggle="chart" data-trigger="click" data-action="toggle" data-dataset="1">
                                  <a href="#"  class="nav-link" data-toggle="tab">
                                      实用新型
                                  </a>
                              </li>
                              <li class="nav-item" data-toggle="chart" data-trigger="click" data-action="toggle" data-dataset="2">
                                  <a href="#" class="nav-link" data-toggle="tab">
                                      外观设计
                                  </a>
                              </li>
                              <li class="nav-item" data-toggle="chart" data-trigger="click" data-action="toggle" data-dataset="3">
                                  <a href="#" class="nav-link" data-toggle="tab">
                                      其他知识产权
                                  </a>
                              </li>
                          </ul>
		              </div>
		              <div class="card-body remove-padding">

		                <!-- Chart -->
		                <div class="chart">
		                  <div id="serverCompareChart" class="chart-canvas" data-toggle="legend"></div>
		                </div>
		              </div>
		            </div>
		        </div>

            </div> <!-- / .row -->

		</div>
    </div>
    <!-- / .main-content -->

	<div class="modal fade" id="propertyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="propertyModalLabel">制定知识产权工作规划</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" action="#">
                        <div class="form-row">
                            <label for="target-of-patent" class="col-sm-7 col-xl-5 control-label">发明专利（件）</label>
                            <div class="col-sm-5 col-xl-7">
                              <input type="number" class="form-control" id="target-of-patent" data-name="发明专利" placeholder="请输入目标数量">
                            </div>
                        </div>
                        <div class="form-row">
                            <label for="target-of-utility-model-patent" class="col-sm-7 col-xl-5 control-label">实用新型（件）</label>
                            <div class="col-sm-5  col-xl-7">
                              <input type="number" class="form-control" id="target-of-utility-model-patent" data-name="实用新型" placeholder="请输入目标数量">
                            </div>
                        </div>
                        <div class="form-row">
                            <label for="target-of-design-patent" class="col-sm-7 col-xl-5 control-label">外观设计（件）</label>
                            <div class="col-sm-5  col-xl-7">
                              <input type="number" class="form-control" id="target-of-design-patent" data-name="外观设计" placeholder="请输入目标数量">
                            </div>
                        </div>
                        <div class="form-row">
                            <label for="target-of-other_patent" class="col-sm-7 col-xl-5 control-label">其他知识产权（件）</label>
                            <div class="col-sm-5  col-xl-7">
                              <input type="number" class="form-control" id="target-of-other_patent" data-name="其他知识产权" placeholder="请输入目标数量">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" id="submit-year-target" class="btn btn-primary">提交更改</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="implementModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">任务分配</h4>
                </div>
                <div class="modal-body">
                    <form id="form-distribute-task" class="form-horizontal" role="form">
                        <div class="form-row">
                            <input type="hidden" id="task-id" name="task-id" value="-1">
                            <label for="server-name" class="col-4 control-label">服务商</label>
                            <div class="col-8">
                                <select class="form-control" name="server-name" id="server-name">
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <label for="task-goal" class="col-4 control-label">任务名</label>
                            <div class="col-8">
                                <select class="form-control" name="task-name" id="task-name">
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <label for="task-goal" class="col-4 control-label">任务量</label>
                            <div class="col-8">
                              <input type="text" class="form-control" name="task-goal" id="task-goal" placeholder="请输入目标数量">
                            </div>
                        </div>
                        <div class="form-row">
                            <label for="principal" class="col-4 control-label">负责人</label>
                            <div class="col-8">
                              <input type="text" id="principal" name="principal" class="form-control" readonly>
                            </div>
                        </div>

                        <div class="form-row">
                            <label for="deadline" class="col-4 control-label">截至日期</label>
                            <div class="col-8">
                              <input type="date" class="form-control" name="deadline" id="deadline">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" id="submit-distribute-task"  class="btn btn-primary">提交更改</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/intellectual_property/TEST_DATA.js') }}"></script>
    <script src="{{ url_for('static', filename='js/intellectual_property/create_graph.js') }}"></script>
    <script src="{{ url_for('static', filename='js/intellectual_property/event.js') }}"></script>
    <script src="{{ url_for('static', filename='js/intellectual_property/public.js') }}"></script>
{% endblock %}