{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'bootstrap/form.html' import render_field %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropzone.min.css') }}" type="text/css">
    <style>
    .dropzone {
        position: relative;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        margin: 20px 0;
        border: 2px dashed #0087F7;
        min-height: 100px
    }

    </style>
{% endblock %}

{% block title %}工作进度{% endblock %}

{% block main %}
    <div class="container-fluid pt-4">
        {# 显示已经提交的记录 #}
        <div class="card">
            <div class="card-header">
                <!-- Title -->
                <h3 class="card-header-title">
                    提交记录
                </h3>
                <a href="#add-new-record-container" class="btn btn-primary lift"><span class="fe fe-plus"></span>新建提交</a>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-lg list-group-flush list my-n4">
                {% for record in records %}
                    <li class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col ml-n2">
                                <h4 class="mb-1">{{ record.record_title }}</h4>
                                <p class="card-text small text-muted">
                                    {{ record.sub_time }}
                                </p>
                            </div>
                            <div class="col-auto">
                                {% if 0 == record.audit_status %}
                                    <span class="badge badge-warning">未审核</span>
                                {% elif 1 == record.audit_status %}
                                    <span class="badge badge-success">已通过</span>
                                {% else %}
                                    <span class="badge badge-danger">未通过</span>
                                {% endif %}
                            </div>
                            <div class="col-auto">
                                 <a href="#!">{{ record.mission_type }}</a> ： <span>{{ record.complete_numbers }}</span>
                            </div>
                            <div class="col-auto">
                                <a href="#!">{{ record.charger_name }}</a>
                            </div>
                            {% if record.file_id %}
                                <div class="col-auto">
                                    <!-- Dropdown -->
                                    <div class="dropdown">

                                      <!-- Toggle -->
                                      <span class="dropdown-ellipses dropdown-toggle btn btn-sm" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fe fe-eye"></i>查阅附件
                                      </span>
                                        {% if record.file_id %}
                                          <!-- Menu -->
                                          <div class="dropdown-menu dropdown-menu-right">
                                            {% for file_name in record.file_list %}
                                                <a target="_blank" href="{{ url_for('review_submit.download', filename='%s/%s' % (record.file_id, file_name)) }}" class="dropdown-item">{{ file_name }}</a>
                                            {% endfor %}
                                          </div>
                                        {% endif %}

                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>

            </div>
        </div>
        <hr>
        <div class="card col-12" id="add-new-record-container">
            <div class="card-header">
                <h4 class="card-header-title">
                    添加记录
                </h4>
            </div>
            <div class="card-body">
                <form method="post" id="submit-record">
                    {{ form.hidden_tag() }}
                    {{ render_field(form.title) }}
                    {{ render_field(form.assignments) }}
                    {{ render_field(form.numbers) }}
                </form>
                <br>
                <p class="text-muted">附件：</p>
                <form action="{{ url_for('service_provider.upload') }}" class="dropzone" id="my-dropzone">
                    <div class="fallback">
                        <input name="file" type="file" multiple>
                    </div>
                </form>
                {{ render_field(form.submit) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/dropzone.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/service_provider/index.js') }}"></script>
{% endblock %}

