{% extends 'base.html' %}

{% block title %}任务审批{% endblock %}
{% block styles %}
    <style>
        .review-btn:hover{
            background: #f9f8f0;
        }
    </style>
{% endblock %}
{% block main %}
    <div class="container-fluid pt-4">
        {# 显示已经提交的记录 #}
        <div class="card">
            <div class="card-header">
                <!-- Title -->
                <h3 class="card-header-title">
                    提交记录
                </h3>

            </div>
            <div class="card-body">
                <table class="table  table-nowrap card-table">
                    <thead>
                        <th>标题</th>
                        <th>任务</th>
                        <th>数量</th>
                        <th>服务商</th>
                        <th>提交时间</th>
                        <th>状态</th>
                        <th>附件</th>
                        <th>操作</th>
                    </thead>
                    <tbody class="list">
                        {% for record in records %}
                            <tr>
                                <td>{{ record.record_title }}</td>
                                <td><a href="{{ url_for('review_submit.review', task=record.mission_type) }}">{{ record.mission_type }}</a></td>
                                <td>{{ record.complete_numbers }}</td>
                                <td><a href="{{ url_for('review_submit.review', server=record.charger_id) }}">{{ record.name }}</a></td>
                                <td>{{ record.sub_time }}</td>
                                <td>
                                    {% if 0 == record.audit_status %}
                                        <span class="badge badge-warning">未审核</span>
                                    {% elif 1 == record.audit_status %}
                                        <span class="badge badge-success">已通过</span>
                                    {% else %}
                                        <span class="badge badge-danger">未通过</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="dropdown">
                                      <a class="dropdown-ellipses dropdown-toggle btn font-size-sm" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fe fe-eye"></i>查阅附件
                                      </a>
                                      <div class="dropdown-menu dropdown-menu-right">
                                          {% if record.file_id %}
                                              {% for file_name in record.file_list %}
                                                  <a target="_blank" href="{{ url_for('review_submit.download', filename='%s/%s' % (record.file_id, file_name)) }}" class="dropdown-item">{{ file_name }}</a>
                                              {% endfor %}
                                          {% endif %}
                                      </div>
                                    </div>
                                </td>
                                <td>
                                    {% if 0 == record.audit_status %}
                                        <div class="dropdown">
                                            <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fe fe-more-vertical"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right" data-id="{{ record.record_id }}">
                                                <span class="dropdown-item text-success review-btn cursor-pointer" data-status='1'>通过</span>
                                                <span class="dropdown-item text-danger review-btn cursor-pointer" data-status='2'>不通过</span>
                                            </div>
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/review_submit/review.js') }}"></script>
{% endblock %}